<div class="jumbo show-listing">
    <h2 class="title">{{model.name}}</h2>
    <div class="right detail-section">
        <div class="detail">
            <strong>$</strong> {{model.price}}
        </div>
        <div class="detail">
            <img src="{{model.url}}" class="plant-pic">
        </div>
        <div class="detail">
            <strong>Sunlight:</strong> {{model.sun}}
        </div>
        <div class="detail">
            <strong>Water:</strong> {{model.water}}
        </div>
        <div class="detail">
            <strong>Toxic:</strong> {{model.toxicity}}
        </div>
    </div>
</div>